{# accueil.html.twig #}
{% extends "./base.html.twig" %}

{% block menu %}
{% endblock %}

{% block body %}
<h1>Accueil</h1>
<br /><br /><br />
{{ data }}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}